.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.mb-1 {
  margin-bottom: 2px;
}

.mt-1 {
  margin-top: 2px;
}

.canvas-size {
  height: "100%";
  width: "100%";
}
